<nav class="navbar navbar-expand-lg bg-light">
    <div class="nav-box">
        <div class="logo">
            <a href="#" aria-label="Akash logo">
                <img src="../../assets/images/logo_white_tag-1.svg" alt="Akash logo">
            </a>
        </div>
        <div class="li-box">
            <ul class="list">
                <li class="li-item">
                    <div class="py-2">
                        <a href="">Book</a>
                    </div>
                </li>
                <li class="li-item">
                    <div class="py-2">
                        <a href="">Manage Booking</a>
                    </div>
                </li>
                <li class="li-item">
                    <div class="py-2">
                        <a href="">Check in</a>
                    </div>
                </li>
                <li class="li-item">
                    <div class="py-2">
                        <a href="">Add-Ons</a>
                    </div>
                </li>
                <li class="li-item">
                    <div class="py-2">
                        <a href="">Offers</a>
                    </div>
                </li>
                <li class="li-item">
                    <div class="py-2">
                        <a href="">Tariff</a>
                    </div>
                </li>
                <li class="li-item">
                    <div class="py-2">
                        <a href="">Contact Us</a>
                    </div>
                </li>
                <li class="li-item">
                    <div class="py-2">
                        <button class="login-btn border-dark-subtle">
                            Login
                            <span class="bi bi-chevron-down pl-2"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
