<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#">Akasa Air</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">Book</li>
                <li class="nav-item">Manage Booking</li>
                <li class="nav-item">check-in</li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <app-book-flight></app-book-flight>
</div>
<router-outlet />
